{
    "global": {
        "general": {
            "download_path": "./downloads/",
            "download_quality": "hifi",
            "search_limit": 10
        },
        "artist_downloading": {
            "return_credited_albums": true,
            "separate_tracks_skip_downloaded": true
        },
        "formatting": {
            "album_format": "{name}{explicit}",
            "playlist_format": "{name}{explicit}",
            "track_filename_format": "{album_artist} - {name}",
            "single_full_path_format": "{artist} - {name}",
            "enable_zfill": true,
            "force_album_format": false
        },
        "codecs": {
            "proprietary_codecs": false,
            "spatial_codecs": true
        },
        "module_defaults": {
            "lyrics": "default",
            "covers": "default",
            "credits": "default"
        },
        "lyrics": {
            "embed_lyrics": true,
            "embed_synced_lyrics": false,
            "save_synced_lyrics": true
        },
        "covers": {
            "embed_cover": true,
            "main_compression": "high",
            "main_resolution": 1400,
            "save_external": false,
            "external_format": "png",
            "external_compression": "low",
            "external_resolution": 3000,
            "save_animated_cover": true
        },
        "playlist": {
            "save_m3u": true,
            "paths_m3u": "absolute",
            "extended_m3u": true
        },
        "advanced": {
            "advanced_login_system": false,
            "codec_conversions": {
                "flac": "aiff"
            },
            "conversion_flags": {
                "flac": {
                    "compression_level": "5"
                },
                "mp3": {
                    "vn": null,
                    "b:a": "320k",
                    "c:a": "libmp3lame",
                    "ar": "44100",
                    "ac": "2"
                },
                "aiff": {
                    "vn": null,
                    "c:a": "pcm_s16le",
                    "ar": "44100",
                    "ac": "2"
                }
            },
            "conversion_keep_original": false,
            "cover_variance_threshold": 8,
            "debug_mode": false,
            "disable_subscription_checks": false,
            "enable_undesirable_conversions": false,
            "ignore_existing_files": false,
            "ignore_different_artists": true
        }
    },
    "extensions": {},
    "modules": {
        "beatport": {
            "username": "user",
            "password": "pass"
        }
    }
}